body {
  background-color: rgb(5, 68, 5);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(131, 96, 96, 0.603);
  text-align: center;
  padding: 5px;
}

h1 {
  margin: 0;
}

button {
  background-color: rgb(245, 243, 243);
  color: rgb(139, 103, 103);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.product {
  background-color: rgba(255, 255, 255, 0.158);
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(226, 21, 21, 0.2);
}

.price {
  font-weight: bold;
  font-size: 18px;
}
